.box{
    position: relative;
    display: none;
    width: 100px;
    height: 100px;
}
.box-move-enter{
    display: block;
    transform: scale(0);
    background-color:red;
    left:100px;
}
.box-move-enter-active{
    display: block;

    transform: scale(1);
    background-color:green;
    left:500px;
    transition: background-color 1000ms,left 1000ms,transform 1000ms;
}
.box-move-exit{
    display: block;

    background-color:green;
    left:500px;
    transform: scale(1);
}
.box-move-exit-active{
    transform: scale(0);
    background-color:red;
    left:100px;
    transition: background-color 1000ms,left 1000ms,transform 1000ms;
}